.login form {
    background-image: url("https://i.imgur.com/gs5iDUs.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
    color: white;
}